# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
.pytest_cache/
.coverage
.mypy_cache/
.ipynb_checkpoints/

# Environment variables
.env
.flaskenv

# Editor specific
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Logs
*.log

# Workspace files (e.g., from tempCodeRunnerFile.py)
tempCodeRunnerFile.py